<div class="container">
    <h3>Employees</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of allEmployees">
            <td>{{ employee.empId }}</td>
            <td>{{ employee.empFirstName }} {{ employee.empLastName }}</td>
            <td>{{ employee.empContact }}</td>
            <td>{{ employee.empEmail }}</td>
            <td>{{ employee.empAddress }}</td>
        </tr>
    </tbody>
</table>
</div>

